Repository nashirow/EducationProject, pull requests merged in 2020-07, with the labels that each got.

#78 Branche create slot
  backend/sql/mysql/script.sql
  backend/sql/postgreSql/script.sql
  backend/src/main/java/com/education/project/Application.java
  backend/src/main/java/com/education/project/endpoints/MatiereEndPoint.java
  backend/src/main/java/com/education/project/endpoints/OptionsEndPoint.java
  backend/src/main/java/com/education/project/endpoints/SalleEndPoint.java
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  backend/src/main/java/com/education/project/endpoints/TimeSlotEndPoint.java
  backend/src/main/java/com/education/project/model/Classe.java
  backend/src/main/java/com/education/project/model/Enseignant.java
  backend/src/main/java/com/education/project/model/Matiere.java
  backend/src/main/java/com/education/project/model/Options.java
  backend/src/main/java/com/education/project/model/ResponseEndPoint.java
  backend/src/main/java/com/education/project/model/Salle.java
  backend/src/main/java/com/education/project/model/Slot.java
  backend/src/main/java/com/education/project/model/TimeSlot.java
  backend/src/main/java/com/education/project/persistence/ClasseRepository.java
  backend/src/main/java/com/education/project/persistence/MatiereRepository.java
  backend/src/main/java/com/education/project/persistence/OptionsRepository.java
  backend/src/main/java/com/education/project/persistence/SalleRepository.java
  backend/src/main/java/com/education/project/persistence/SlotRepository.java
  backend/src/main/java/com/education/project/persistence/TimeSlotRepository.java
  backend/src/main/java/com/education/project/services/MatiereService.java
  backend/src/main/java/com/education/project/services/SalleService.java
  backend/src/main/java/com/education/project/services/SlotService.java
  backend/src/main/java/com/education/project/services/TimeSlotService.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/education/project/services/MatiereServiceUT.java
  backend/src/test/java/com/education/project/services/OptionsServiceUT.java
  backend/src/test/java/com/education/project/services/SalleServiceUT.java
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
  backend/src/test/java/com/education/project/services/TimeSlotServiceUT.java
Labels: backend

#80 Implementation of delete slot
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  backend/src/main/java/com/education/project/persistence/SlotRepository.java
  backend/src/main/java/com/education/project/services/SalleService.java
  backend/src/main/java/com/education/project/services/SlotService.java
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
Labels: backend

#79 Implementation of update slot
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  backend/src/main/java/com/education/project/persistence/SlotRepository.java
  backend/src/main/java/com/education/project/services/SlotService.java
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
Labels: backend

#83 Implementation of get slot
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  backend/src/main/java/com/education/project/model/Matiere.java
  backend/src/main/java/com/education/project/persistence/SlotRepository.java
  backend/src/main/java/com/education/project/services/SlotService.java
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
Labels: backend

#99 Implementation of count slots
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  backend/src/main/java/com/education/project/persistence/SlotRepository.java
  backend/src/main/java/com/education/project/services/SlotService.java
  backend/src/main/java/com/education/project/utils/NamePreparedStatement.java
  backend/src/main/resources/application.properties
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
Labels: backend

#98 Implementation of planning main page
  frontend/.env.development
  frontend/src/App.js
  frontend/src/common.scss
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Home/style.scss
  frontend/src/pages/Plannings/Plannings.js
  frontend/src/pages/Plannings/style.scss
Labels: frontend

#97 Implementation of main page slots
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  frontend/.env.development
  frontend/src/App.js
  frontend/src/common.scss
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Home/style.scss
  frontend/src/pages/Slots/Slots.js
  frontend/src/pages/Slots/style.scss
Labels: frontend

#96 Implementation salles main page
  backend/src/main/java/com/education/project/endpoints/SalleEndPoint.java
  frontend/.env.development
  frontend/src/App.js
  frontend/src/common.scss
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Home/style.scss
  frontend/src/pages/Rooms/Rooms.js
  frontend/src/pages/Rooms/style.scss
Labels: frontend

#95 Implementation of matieres page
  frontend/.env.development
  frontend/src/App.js
  frontend/src/common.scss
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Home/style.scss
  frontend/src/pages/Matieres/Matieres.js
  frontend/src/pages/Matieres/style.scss
Labels: frontend

#94 page teachers implemented
  backend/src/main/java/com/education/project/endpoints/EnseignantEndPoint.java
  frontend/.env.development
  frontend/src/App.js
  frontend/src/common.scss
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Home/style.scss
  frontend/src/pages/Teachers/Teachers.js
  frontend/src/pages/Teachers/style.scss
Labels: frontend

#100 Branch options page
  backend/src/main/java/com/education/project/endpoints/OptionsEndPoint.java
  backend/src/main/java/com/education/project/services/OptionsService.java
  frontend/.env.development
  frontend/src/App.js
  frontend/src/common.scss
  frontend/src/components/Button/Button.js
  frontend/src/components/Button/style.scss
  frontend/src/components/Message/style.scss
  frontend/src/pages/Classes/Classes.js
  frontend/src/pages/Home/Home.js
  frontend/src/pages/Options/Options.js
  frontend/src/pages/Options/style.scss
  frontend/src/utils/Utils.js
Labels: frontend

#109 Branch details classe
  backend/src/main/resources/application.properties
  frontend/.env.development
  frontend/package-lock.json
  frontend/package.json
  frontend/src/App.js
  frontend/src/components/Details/Details.js
  frontend/src/components/Details/style.scss
  frontend/src/components/Table/Table.js
  frontend/src/pages/Classes/Classes.js
  frontend/src/pages/Details/DetailsClasse/DetailsClasse.js
  frontend/src/pages/Details/style.scss
  frontend/src/tests/components/Details/DetailsUT.test.js
  frontend/src/utils/Utils.js
Labels: frontend

#111 Update planning implementation
  backend/src/main/java/com/education/project/endpoints/PlanningEndPoint.java
  backend/src/main/java/com/education/project/persistence/PlanningRepository.java
  backend/src/main/java/com/education/project/services/PlanningService.java
  backend/src/test/java/com/education/project/services/PlanningServiceServiceUT.java
Labels: backend

#108 Implementation of get slots
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  backend/src/main/java/com/education/project/persistence/SlotRepository.java
  backend/src/main/java/com/education/project/services/SlotService.java
  backend/src/main/java/com/education/project/utils/NamePreparedStatement.java
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
Labels: backend

#112 Implementation of delete planning
  backend/src/main/java/com/education/project/endpoints/PlanningEndPoint.java
  backend/src/main/java/com/education/project/persistence/PlanningRepository.java
  backend/src/main/java/com/education/project/services/PlanningService.java
  backend/src/test/java/com/education/project/services/PlanningServiceServiceUT.java
Labels: backend

#113 Implementation of get planning
  backend/sql/mysql/script.sql
  backend/sql/postgreSql/script.sql
  backend/src/main/java/com/education/project/endpoints/PlanningEndPoint.java
  backend/src/main/java/com/education/project/endpoints/SlotEndPoint.java
  backend/src/main/java/com/education/project/model/Jour.java
  backend/src/main/java/com/education/project/model/Planning.java
  backend/src/main/java/com/education/project/model/Slot.java
  backend/src/main/java/com/education/project/persistence/PlanningRepository.java
  backend/src/main/java/com/education/project/persistence/SlotRepository.java
  backend/src/main/java/com/education/project/services/PlanningService.java
  backend/src/main/java/com/education/project/services/SlotService.java
  backend/src/test/java/com/education/project/services/PlanningServiceServiceUT.java
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
Labels: backend

#114 Implementation of get plannings
  backend/src/main/java/com/education/project/endpoints/PlanningEndPoint.java
  backend/src/main/java/com/education/project/persistence/PlanningRepository.java
  backend/src/main/java/com/education/project/services/PlanningService.java
  backend/src/test/java/com/education/project/services/PlanningServiceServiceUT.java
Labels: backend

#117 Implementation of details matiere
  frontend/.env.development
  frontend/src/App.js
  frontend/src/components/Details/Details.js
  frontend/src/pages/Details/DetailsDisciplines/DetailsDiscipline.js
  frontend/src/pages/Details/style.scss
  frontend/src/pages/Matieres/Matieres.js
  frontend/src/utils/Utils.js
Labels: frontend

#116 Branch details teacher
  frontend/.env.development
  frontend/src/App.js
  frontend/src/pages/Details/DetailsTeacher/DetailsTeacher.js
  frontend/src/pages/Details/style.scss
  frontend/src/pages/Teachers/Teachers.js
Labels: frontend

#115 Implementation details timeslot
  frontend/.env.development
  frontend/src/App.js
  frontend/src/pages/Details/DetailsTimeSlot/DetailsTimeSlot.js
  frontend/src/pages/Details/style.scss
  frontend/src/pages/TimeSlots/TimeSlots.js
Labels: frontend

#118 Implementation details salle + pagination matiere
  backend/src/main/java/com/education/project/endpoints/MatiereEndPoint.java
  backend/src/main/java/com/education/project/persistence/MatiereRepository.java
  backend/src/main/java/com/education/project/services/MatiereService.java
  backend/src/test/java/com/education/project/services/MatiereServiceUT.java
  backend/src/test/java/com/education/project/services/SlotServiceUT.java
  frontend/.env.development
  frontend/src/App.js
  frontend/src/components/Message/style.scss
  frontend/src/pages/Details/DetailsRoom/DetailsRoom.js
  frontend/src/pages/Details/style.scss
  frontend/src/pages/Matieres/Matieres.js
  frontend/src/pages/Rooms/Rooms.js
Labels: frontend

#119 Implementation details slot
  backend/src/main/java/com/education/project/persistence/PlanningRepository.java
  frontend/.env.development
  frontend/src/App.js
  frontend/src/components/Details/Details.js
  frontend/src/components/Details/style.scss
  frontend/src/pages/Details/DetailsPlanning/DetailsPlanning.js
  frontend/src/pages/Details/DetailsSlot/DetailsSlot.js
  frontend/src/pages/Details/style.scss
  frontend/src/pages/Plannings/Plannings.js
  frontend/src/pages/Slots/Slots.js
  frontend/src/utils/Utils.js
Labels: frontend

#120 Branch generate planning
  backend/src/main/java/com/education/project/endpoints/PlanningEndPoint.java
  backend/src/main/java/com/education/project/enums/JourEnum.java
  backend/src/main/java/com/education/project/model/Matiere.java
  backend/src/main/java/com/education/project/model/PlanningGenerated.java
  backend/src/main/java/com/education/project/persistence/PlanningRepository.java
  backend/src/main/java/com/education/project/services/PlanningService.java
  backend/src/main/java/com/education/project/services/TimeSlotService.java
  backend/src/main/java/com/education/project/utils/HtmlUtils.java
  backend/src/main/java/com/education/project/utils/LocalTimeUtils.java
  backend/src/test/java/com/education/project/services/MatiereServiceUT.java
  backend/src/test/java/com/education/project/services/PlanningServiceServiceUT.java
  backend/src/test/java/com/education/project/services/TimeSlotServiceUT.java
  frontend/.env.development
  frontend/src/common.scss
  frontend/src/components/Message/style.scss
  frontend/src/pages/Details/DetailsPlanning/DetailsPlanning.js
  frontend/src/pages/Details/style.scss
  frontend/src/pages/Matieres/Matieres.js
  frontend/src/pages/Slots/Slots.js
Labels: backend, frontend

#122 Branch fix bugs
  backend/src/main/java/com/education/project/Application.java
  frontend/.gitignore
  frontend/src/pages/Slots/FormSlot.js
Labels: backend, frontend

#123 Added beforeEach in describe functions
  frontend/src/components/Breadcrumb/Breadcrumb.js
  frontend/src/tests/components/Breadcrumb/BreadcrumbUT.test.js
  frontend/src/tests/components/Button/ButtonUT.test.js
  frontend/src/tests/components/Details/DetailsUT.test.js
  frontend/src/tests/components/Form/FormUT.test.js
  frontend/src/tests/components/Header/HeaderUT.test.js
  frontend/src/tests/components/HomeCTA/HomeCTAUT.test.js
  frontend/src/tests/components/Message/MessageUT.test.js
  frontend/src/tests/components/Pagination/PaginationUT.test.js
  frontend/src/tests/components/Table/TableUT.test.js
  frontend/src/tests/pages/App/AppUT.test.js
  frontend/src/tests/pages/Classes/FormClasseUT.test.js
  frontend/src/tests/pages/Home/PageUT.test.js
Labels: frontend

#124 Fix unit test
  frontend/src/tests/pages/Home/HomeUT.test.js
Labels: frontend
